.react-datepicker__day--highlighted {
    background-color: #FFA500;
    color: white;
  }      

  .btn-right{
    background-color: #FFA500;
    color: white;
  }

  .btn-left{
    background-color: #FFA500;
    color: white;
  }