.imagetype_one{
    border-radius: 50%;
    width: 160px;
    height: 160px;
}

.btn-orange{
    background-color: #FFA500;
    color: white;
    font-size: medium;
    width: 200px;
    height: 50px;
    margin-left: 30px;
    border: 0;
}